@mixin inputRangeTrack() {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(195, 195, 195, 0.75);
  border-radius: 6px;
  border: none;
}

@mixin inputRangeThumb() {
  box-shadow: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffcc00;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 3px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  @include inputRangeTrack();
}

input[type="range"]::-moz-range-track {
  @include inputRangeTrack();
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  @include inputRangeThumb();
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type="range"]::-moz-range-thumb {
  @include inputRangeThumb();
}

input[type="range"]::-ms-thumb {
  @include inputRangeThumb();
}

input[type="range"]::-moz-range-progress {
  background: #ffcc00;
  border-radius: 6px;
  height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(208, 208, 208, 0.99);
}

input[type="range"]::-ms-fill-lower {
  background: rgba(182, 182, 182, 0.99);
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 8px;
  box-shadow: none;
}

input[type="range"]::-ms-fill-upper {
  background: rgba(195, 195, 195, 0.99);
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 8px;
  box-shadow: none;
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(195, 195, 195, 0.99);
}

input[type="range"]:focus::-ms-fill-upper {
  background: rgba(208, 208, 208, 0.99);
}
