$pluginName: 'boilerplate-plugin-wordpress';


body {
  /* 
  Paramétrage Sweet Alert 2
  */
  &.swal2-height-auto {
    height: 100% !important;
  }
  /* 
  Lien plugin dans la barre de navigation
  */
  #adminmenu {
    #toplevel_page_#{$pluginName} {
      a {
        color: darken(#ffc62c, 35%);
        &.menu-top {
          background: #ffc62c;
        }
        &.current {
          &::after {
            border-right-color: #ffffff !important;
          }
        }
      }
    }
    .wp-menu-image {
      img {
        width: auto;
        height: 20px;
      }
    }
  }
  /* 
  Page du plugin
  */
  &.toplevel_page_#{$pluginName} {
    background: #ffffff;
    @import 'scss/input-range';
    #wpwrap {}
  }
}

#rangValue {
  color: #ffa700;
  font-weight: bold;
}
