$pluginName: 'boilerplate-plugin-wordpress';

body {
  /* Paramétrage Sweet Alert 2 */
  &.swal2-height-auto {
    height: 100% !important;
  }
  /* Lien plugin dans la barre de navigation */
  #adminmenu {
    #toplevel_page_#{$pluginName} {
      > a {
        color: darken(#ffc62c, 35%);
        &.menu-top {
          background: #ffc62c;
        }
        &.current {
          &::after {
            border-right-color: #ffffff !important;
          }
        }
      }
      &.wp-has-current-submenu {
        .wp-submenu {
          background-color: darken(#ffc62c, 10%);
        }
      }
    }
    .wp-menu-image {
      img {
        width: auto;
        height: 16px;
      }
    }
  }
  /* Page du plugin */
  &.toplevel_page_#{$pluginName} {
    background: #ffffff;
    @import 'scss/input-range';
    #wpwrap {}
  }
  &.boilerplate-plugin_page_#{$pluginName}-2 {
    #tabs{
      display: flex;
      nav{
        width: 200px;
        ul{
          margin: 0;
          li{
            margin: 0;
            a{
              display: block;
            }
          }
        }
      }
      #content {
        position: relative;
        background: #ffffff;
        width: calc(100% - 200px);
      }
    }
  }

}

#rangValue {
  color: #ffa700;
  font-weight: bold;
}