$pluginName: 'boilerplate-plugin';
$pageName: 'scroll-to-top-bpw';
&.#{$pluginName}_page_#{$pageName} {
  .wrap {
    font-family: "Open Sans", sans-serif;
    /* === INPUT === */
    /* Checkbox */
    @import '../input/checkbox/001';
    @import '../input/checkbox/002';
    @import '../input/checkbox/003';
    /* Radio */
    @import '../input/radio/001';
  }
}