$pluginName: 'boilerplate-plugin';
$pageName: 'tabs-bpw';
&.#{$pluginName}_page_#{$pageName} {
  .wrap {
    font-family: "Open Sans", sans-serif;
    * {
      box-sizing: border-box;
    }
    #tabs {
      display: flex;
      #logo {
        position: relative;
        height: 200px;
        margin: 20px;
        background: lighten(#34333B, 77%);
        border: 3px dashed lighten(#34333B, 70%);
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          text-align: center;
          font-weight: 600;
          font-size: 1.5em;
          text-transform: uppercase;
          em {
            font-size: .75em;
            font-weight: 500;
          }
        }
      }
      #navigation {
        nav {
          position: relative;
          z-index: 2;
          width: 240px;
          ul {
            margin: 0;
            li {
              margin: 0;
              a {
                position: relative;
                overflow: hidden;
                display: block;
                background: lighten(#34333B, 77%);
                padding: 15px 17px 15px 50px;
                border-bottom: 1px solid lighten(#34333B, 70%);
                border-right: 1px solid lighten(#34333B, 70%);
                color: lighten(#34333B, 60%); //                margin-left: 5px;
                text-decoration: none;
                transition: all ease .3s;
                * {
                  transition: all ease .3s;
                }
                .title {
                  font-size: 1.1em;
                  text-transform: uppercase;
                  font-weight: 600;
                }
                .description {
                  font-weight: 400;
                  font-style: italic;
                }
                svg {
                  position: absolute;
                  top: 50%;
                  left: 25px;
                  transform: translateY(-50%) translateX(-50%);
                  color: lighten(#34333B, 60%);
                  font-size: 1.5em;
                }
                &:before {
                  position: absolute;
                  display: block;
                  content: "";
                  top: 0;
                  left: 0;
                  width: 3px;
                  height: 100%;
                  background: lighten(#34333B, 70%);
                  transition: width ease .3s;
                }
                &:hover {
                  background: #ffffff;
                  transition: all ease .3s;
                  * {
                    transition: all ease .3s;
                  }
                  .title {
                    color: #34333B;
                  }
                  .description {
                    color: lighten(#34333B, 40%);
                  }
                  svg {
                    color: #34333B;
                  }
                  &:before {
                    background: #34333B;
                    transition: all ease .3s;
                  }
                }
                &:focus {
                  box-shadow: none;
                }
              }
              &.ui-tabs-active,
              &.ui-state-active {
                a {
                  z-index: 1;
                  margin-left: 0;
                  background: #ffffff;
                  //                  border-left: 3px solid #ffc62c;
                  border-right-color: transparent;
                  //                  box-shadow: -4px 0px 4px lighten(#34333B, 65%);
                  .title {
                    color: #ffc62c;
                  }
                  .description {
                    color: lighten(#34333B, 40%);
                  }
                  svg {
                    color: #ffc62c;
                  }
                  &:before {
                    background: #ffc62c;
                  }
                }
              }
              &:first-child {
                a {
                  border-top: 1px solid lighten(#34333B, 70%);
                }
              }
              &.comingsoon {
                position: relative;
                overflow: hidden;
                display: block;
                background: lighten(#34333B, 70%);
                padding: 24px 17px 24px 50px;
                border-bottom: 1px solid lighten(#34333B, 70%);
                border-right: 1px solid lighten(#34333B, 70%);
                border-left: 1px solid lighten(#34333B, 70%);
                color: lighten(#34333B, 50%);
                span {
                  font-style: italic;
                }
              }
            }
          }
        }
      }
      > #content {
        position: relative;
        z-index: 1;
        background: #ffffff;
        width: calc(100% - 240px + 1px);
        padding: 30px;
        border: 1px solid lighten(#34333B, 70%);
        margin-left: -1px;
        .title-tabs {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 30px;
          border-bottom: 1px solid lighten(#34333B, 70%);
          margin-bottom: 30px;
          svg {
            font-size: 30px;
            color: #ffc62c;
          }
          h2 {
            font-size: 26px;
            font-weight: 600;
            margin: 0 0 0 30px;
          }
        }
        h3 {
          font-size: 20px;
          background: lighten(#34333B, 75%);
          padding: 15px;
        }
        table {
          margin-bottom: 30px;
          tr {
            td {
              padding: 30px 0;
              border-bottom: 1px solid lighten(#34333B, 70%);
              &.title-row {
                min-width: 400px;
                h4 {
                  margin: 0;
                  font-size: 15px;
                }
                p {
                  padding: 0;
                  margin: 0;
                  font-size: 15px;
                }
              }
              &.content-row {
                width: 100%;
                font-size: 15px;
              }
            }
            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
        }
        button {
          &.update-btn {
            display: block;
            background: #56a0c7;
            color: #ffffff;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 30px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: all ease .3s;
            svg {
              margin-left: 10px;
            }
            &:hover {
              background: darken(#56a0c7, 15%);
              transition: all ease .3s;
            }
          }
        }
      }
    }
  }
}