.input-checkbox-001 {
  position: relative;
  display: inline-block;
  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    &:checked + label {
      border-color: darken(#ffc62c, 10%);
      span {
        right: -6px;
        transform: translateX(-100%);
        &:after {
          content: attr(data-active);
          color: darken(#ffc62c, 10%);
        }
      }
    }
    &:checked + label:after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
      background: darken(#ffc62c, 10%);
    }
  }
  label {
    position: relative;
    display: block;
    width: 50px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #888888;
    border-radius: 24px;
    cursor: pointer;
    transition: all ease .3s;
    span {
      position: absolute;
      height: 100%;
      width: calc(100% - 22px);
      top: 0;
      right: 3px;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        content: attr(data-inactive);
        color: #888888;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 16px;
      height: 16px;
      background: #888888;
      border-radius: 50%;
      transition: all ease .3s;
    }
  }
}
